<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PartialTableTransfer" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <connectionStrings>
    <add name="ICLx_P_DB" connectionString="tV3JPRo32pjFnWYWSxyVQgScVUKdUdtxL+0mZnvgupzdh7UOEZca+DBtOVCWwR5aO7qvL0YhPc3iIkO5j9PBmrnmZekzKMIMKez3l28zDOekoBixAc/kP9X8cHqPboB83+jIBsNudw6uayLMUqZrIJJ+1Y2C1aRqYSgdGwDreRWZ7oT51BZPae8EsOfbsOORTepOxLl62jRFi/b+gojlM0JOoR3DCdTlnFi5HJXE82lABJMMAkRNlNPLEtkievn338qYTActNgoIUYqYnxxofQ==" providerName="System.Data.SQLClient" />
    <add name="ICLx_I_DB" connectionString="sM5lwPeL1HzqU1+gBM9ak4q0/rthRw1YYdt7DcL2q+24Peuivhxhx3kd44g2KXHUu0p5m/X/2sgdPDhWdGpp3pzGypyqkxObd21Gows+PWhPsB7u40oKGMCiYbUp/NgmFVjCSlnf4txKsg6slOW/Q58DPLzexdkOHfEG7GeuLNrczargYX3oJhocCrTMJ8vIQXig696XTDzKVVz61nAUllsrAcR9o/4V09/CQ/uNS/K6rKI2XZzA/+mSLuyjbde9RFtfqeF6dX0oIozVG6oFyg==" providerName="System.Data.SQLClient" />
    <add name="ICLx_T_DB" connectionString="sM5lwPeL1HzqU1+gBM9ak4q0/rthRw1YYdt7DcL2q+24Peuivhxhx3kd44g2KXHUu0p5m/X/2sgdPDhWdGpp3pzGypyqkxObd21Gows+PWgdC1UMAuYqkyDcbX27e3Jbq7D8vOo2bNlnpHx6Klx7BMyLJZSLLYEgtuFrDy8fsEGhrORVpMHKlBGqfVtHZlFJp6H2M45QE2JYDlFgXCSFSlYtuG/utHEOFRhCHVqEJlqfLW1E+RN01i1PEIvDc3YynmerVkWn5gjE5TELLQIwsQ==" providerName="System.Data.SQLClient" />

    <add name="ICLx_Master" connectionString="Data Source=localhost;Initial Catalog=ICLx_Master; Max Pool Size=10;Persist Security Info=True;User ID=ICLx_Admin;Password=1qay2wsx;MultipleActiveResultSets=False" providerName="System.Data.SQLClient" />

  </connectionStrings>

  <appSettings>
    
    <!-- Die Daten aus der Tabellen werden nicht von Source nach Target übergetragen -->
    <add key="skipTables" value="Session,SessionValue,*.EventLog,Job,JobHistory,IndicatorRawData,TaskAusfuehrung,TaskAusfuehrungQueue,TaskAusfuehrungHistory,TaskMeldungDatensatz,TaskMeldungDatensatzVorkommnis,TaskMeldungDatensatzVorkommnisDetail,TaskMeldungVorgang" />

    <!-- Die Daten aus der Tabellen werden nicht von Source nach Target übergetragen, 
         und die Daten in Target werden nach Daten-Transfer wiederherstellt -->
    <add key="restoreTables" value="" />

    <!-- Diese Scripts werden nach der Data-Übertragung auf der Target-DB ausgeführt -->
    <add key="finalScripts" value="" />
    
  </appSettings>

  <!-- Definiert Tabelle-name und die Bedigung für die partielle Übertragung-->
  <PartialTableTransfer>
    <add key="*.EventLog" value="Meldungstyp in ('DBChange')" />
  </PartialTableTransfer>
 
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener,  system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData=".\Trace.log" traceOutputOptions="DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.1.3.0" newVersion="5.1.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>